$success: #55BB06;
$warning: #FF9900;
$danger: #FF3724;

$light-blue: #EAF0FA;
$blue: #5763B3;

$gray-1: #B9B9B9;
$gray-2: #707276;
$gray-3: #202123;

$actionColor: $success;
$mainTextColor: $gray-3;
$secondaryTextColor: $gray-2;